[submodule "halfband"]
	path = halfband
	url = git@bwrcrepo.eecs.berkeley.edu:dsp-blocks/chisel/halfband.git
[submodule "cic3"]
	path = cic3
	url = git@bwrcrepo.eecs.berkeley.edu:dsp-blocks/chisel/cic3.git
[submodule "clkdiv_n_2_4_8"]
	path = clkdiv_n_2_4_8
	url = git@bwrcrepo.eecs.berkeley.edu:dsp-blocks/chisel/clkdiv_n_2_4_8.git
